/* ===================================
        font family Poppins added 
====================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* =======================
       style for header 
===========================*/
.header-divide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2D25A0;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-bottom: 70px;
}
.header-text{
   color: #FFFFFF;
}
.header-title{
    font-size: 64px;
    line-height: 80px;
}
/* ========================================
        
============================================*/
@keyframes color {
    from{
        background-color: #917323;
    }
    to{
        background-color: #27972c;
    }
    
} 

/* ****animation in WATCH LIVE button****  */

.header-text a{
    text-decoration: none;
    font-size: 16px;
    Padding: 10px 24px 10px 24px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    animation: color 1s ease-in-out .2s infinite alternate ;
}
.header-divide:hover a{
    animation-play-state:running;
}
.header-text a .button-icon{
    padding-left: 3px;
}
.banner img{
    Width: 556.01px;
    Height:438px;
}
/* ===============================
    Players Field styles 
==================================*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-left: 180px;
    margin-right: 210px;
}
.player{
   
    padding: 15px;
    box-shadow: .5px .5px 10px gray;
    display: flex;
    flex-direction: column;
}
.player-image img{
    width: 100%;
}
.player-name{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.player-detail{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}
/* ==================================
        highlights-copa-2021 style
=====================================*/
.highlights-copa-2021{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    margin-left: 180px;
    margin-right: 210px;
    
}
.highlights-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}
.highlights-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 0;
}
.highlights-button a{
    text-decoration: none;
    font-size: 16px;
    Padding: 10px 24px 10px 24px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
}
.highlights-history{
    color: #6C6C6C;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 24px ;
}
.highlights-banner img{
    width: 100%;
}
/* =============================
        footer Part start 
================================*/
footer{
    display: flex;
    justify-content: space-around;
    margin: 178px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
    width: 500px;
}
.footer-icon{
    font-size: 32px;
    
    
}
.bg-color{
    background-color: #E7E7E8;
    border-radius: 50%;
    padding: 10px;
}

/* ====================================
        @media query for pnone 
======================================*/

@media only screen and (max-width:688px){
   
    .header-divide{
        flex-direction: column;
        padding-top: 30px;
    }
    .header-text{
        font-size: 36px;
        line-height: 50px;
        padding-left: 16px;
        margin-bottom: 50px;
    }
    .header-title{
        margin-bottom: 20px;
    }
    .banner img{
        width: 329px;
    height: 259.17px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        margin-right: 0;
    }
    .player{
        margin: 0 15px;
    }
    .highlights-copa-2021 {
        grid-template-columns: repeat(1, 1fr);
        margin: 60px 20px;
    }
    .highlights-detail {
        padding-right: 0;
    }
    .highlights-banner img{
        margin-top: 29px;
    }
    .footer-item{
        padding-top: 20px;
        margin-top: 30px;
    }
    .footer-logo{
        width: 300px;
    }
}

/* ====================================
        @media query for pnone 
======================================*/

@media only screen and (min-width:688px) and (max-width:992px){

    .header-divide {
        display: flex;
    }
    .header-title{
        font-size: 45px;
        line-height: 60px;
    }
    .banner img{
        width: 400px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
        margin-right: 0;
        margin: 0 15px;
    }
    .highlights-copa-2021 {
        margin-left: 0;
        margin-right: 0;
    }
    .highlights-detail{
        padding-left: 15px;
    }
    .highlights-banner{
        padding: 15px;
    }
    .highlights-banner img{
        margin-top: 70px;
        height:300px ;
    }
}